body {
	background-color: rgb(238, 238, 238);
}

.button {
	cursor: pointer;
	border-radius: 35px;
	padding: 30px;
	background: url(../img/btnbg1.jpg) no-repeat center;
}

/* 固定侧边栏的样式 */
.slider-bar {
	z-index: 99999;
	position: fixed;
	z-index: 999999999999;
	margin-top: 25%;
	margin-left: 95%;
	width: 145px;
	height: 165px;
	font-size: 12px;
}

.nav-link {
	color: #c1c1c1 !important;
}

.active {
	color: #0b8c9d !important;
}

/* 图标变大变小的动画 */
@-webkit-keyframes beBig {
	25% {
		-webkit-transform: scale3d(1.25, 1.25, 1.25);
	}

	50% {
		-webkit-transform: scale3d(1.3, 1.3, 1.3);
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
	}
}

.nav-item:hover img {
	-webkit-animation: beBig 1s;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-direction: alternate;
}
